<div class="pagination-box p-box-2 text-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                </li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                {% if page_obj.number == page %}
                    <li class="page-item"><a class="page-link active" href="#">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>